{% extends "base.html" %}

{% block content %}
<a href="/">Home</a>
<br><hr><br>
<div id="expansions">
  {% for expansion in expansions %}
  <div class="expansion">
    Pattern #{{ expansion.index }}: <b>{{ expansion.rule }}</b>
    <br>
    Count: {{ expansion.count }}
    <div class="head-index">
      Head daughter: {{ expansion.head_index_box }}
    </div>
    <div class="head-correct">
      Root correctly identified: {{ expansion.head_correct_box }}
    </div>
    <div class="comp-head-correct">
      Correct dependency between root and sisters: {{ expansion.comp_head_correct_box }}
    </div>
    <div class="notes">
      <textarea rows="4" cols="60" name="expansion-{{ expansion.id }}-notes">{{ expansion.notes }}</textarea>
    </div>
    <div class="simple-examples">
      <div class="supa">
        {{ expansion.simple_supa_example_as_table|safe }}
      </div>
      <div class="penn">
        <code>
          {{ expansion.simple_penn_example_rendered|safe|linebreaks }}
        </code>
      </div>
    </div>
    <div class="show-debug"><span>Show SUPA debug tree</span></div>
    <div class="intermediate-examples">
      <div class="penn">
        <code>
          {{ expansion.intermediate_penn_example_rendered|safe|linebreaks }}
        </code>
      </div>
    </div>
    <div class="show-examples"><span>Show full examples</span></div>
    <div class="examples">
      <div class="supa">
        {{ expansion.supa_example_as_table|safe }}
      </div>
      <div class="penn">
        <code>
          {{ expansion.penn_example_rendered|safe|linebreaks }}
        </code>
      </div>
    </div>
    {% for comment in expansion.annotation.comments %}
    <div class="comment">
      Comment by {{ comment.user.username }}:
      <textarea rows="4" cols="60"
        {% ifnotequal comment.user.username viewer_username %}
        disabled="disabled"
        {% endifnotequal %}
        name="comment-{{ comment.id }}-user-{{ username }}-comment">{{ comment.comment }}</textarea>
    </div>
    {% endfor %}
    {% if disable %}
    <div class="new-comment">
      New comment:
      <textarea rows="4" cols="60" name="expansion-{{ expansion.id }}-user-{{ username }}-comment"></textarea>
    </div>
    {% endif %}
  </div>
  <br><br><hr>
  {% endfor %}
  {% if truncated %}
  Not all patterns shown, because the list is very long.
  <br>
  {% for page_num in num_pages %}
  {% ifnotequal page_num current_page %}
  <a href="page-{{ page_num }}">
  {% endifnotequal %}
    Page {{ page_num }}
  {% ifnotequal page_num current_page %}
  </a>
  {% endifnotequal %}
  &nbsp;&nbsp;&nbsp;
  {% endfor %}
  {% endif %}
</div>

{% if disable %}
<script type="text/javascript">
$('.expansion select').attr('disabled', 'disabled');
$('.notes textarea').attr('disabled', 'disabled');
</script>
{% endif %}
{% endblock %}
