.penn {
    float: left;
    position: relative;
    margin-left: 100px;
}
.supa {
    float: left;
    position: relative;
}
.user {
    clear: both;
    font-weight: bold;
}
.examples {
    clear: both;
}
.notes {
    clear: both;
}
.comment {
    clear: both;
}
.new-comment {
    clear: both;
}
hr {
    clear: both;
}
tr.lastrow td {
    border-top: thin solid black;
}
